.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  transform: translateY(-28px);
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
